<!-- <!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/hack.css" />
  <link rel="stylesheet" href="/static/dark-grey.css" />
  <meta charset="UTF-8" />
  <title>Pracownicy</title>
</head>

<body class="hack dark-grey">

  <div class="grid">
    <div class="cell -1of12"></div>
    <div class="cell -10of12">

        <div class="container">
            <p></p>
            <form class="form justify-content-center" method="POST" action="dodaj1">
              <fieldset class="form-group">
                <input type="hidden" name='nr_pracownika' value="1" class="form-control" readonly="readonly">
              </fieldset>
              <div class="form-actions">
                <button type="submit" action='submit' class="btn btn-primary btn-block">Dodaj nowego pracownika!</button>
              </div>
            </form>
        
        
            <p></p>
        
        
          </div>

      <font size="4">Lista wszystkich pracowników</font>
      <table border="1" width="1000">
        <tr>
          <td>ID</td>
          <td>Imię</td>
          <td>Drugie imię</td>
          <td>Nazwisko</td>
          <td>Pensja</td>
          <td>Premia</td>
          <td>Numer</td>
          <td>Email</td>
          <TD>Data zatrudnienia</TD>
          <td>Stanowisko</td>
          <td>Akcje</td>
        </tr>

        {% for emp in allemployees %}
        <tr>
          <td>{{ emp.employee_id }}</td>
          <td>{{ emp.first_name }}</td>
          <td>{{ emp.middle_name }}</td>
          <td>{{ emp.last_name }}</td>
          <td>{{ emp.salary }}</td>
          <td>{{ emp.ptc_comission }}</td>
          <td>{{ emp.phone_number }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.hire_date }}</td>


          {% for job in prace %}
					{% if job.job_id == emp.job_id %}
					<td>{{job.job_title}}</td>
					{% endif %}
					{% endfor %}



          <td>
            <form class="form justify-content-center" method="POST" action="wezdane3">
              <fieldset class="form-group">
                <input type="hidden" name='nr_pracownika' value={{emp.employee_id }} class="form-control"
                  readonly="readonly">
              </fieldset>
              <div class="form-actions">
                <button type="submit" action='submit' class="btn btn-primary btn-xs">Edytuj dane pracownika!</button>
              </div>
            </form>
            <form class="form justify-content-center" method="POST" action="usun1">
              <fieldset class="form-group">
                <input type="hidden" name='nr_pracownika' value={{emp.employee_id }} class="form-control"
                  readonly="readonly">
              </fieldset>
              <div class="form-actions">
                <button type="submit" action='submit' class="btn btn-primary btn-xs">Usuń pracownika!</button>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

    </div>
    <div class="cell -1of12"></div>
  </div>



  
</body>

</html> -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Pracownicy</title>
    <link rel="stylesheet" href="/static/searchstyle.css" />
    <link rel="stylesheet" href="/static/style/administrator2/css/style.min.css" />
  </head>

  <body>
    <div class="container">
      <div class="addEmpl">
        <form method="POST" action="dodaj1">
          <input
            type="hidden"
            name="nr_pracownika"
            value="1"
            class="form-control"
            readonly="readonly"
          />
          <div>
            <button type="submit" action="submit">
              Dodaj nowego pracownika!
            </button>
          </div>
        </form>
      </div>

      <h2>Lista wszystkich pracowników</h2>
      <table>
        <tr>
          <th>ID <div class="search-div"><input class="searchbar" type="text" id="IDInput" onkeyup="findBy(0)" placeholder="Szukaj..."></div></th>
          <th>Imię <div class="search-div"><input class="searchbar" type="text" id="FirstNameInput" onkeyup="findBy(1)" placeholder="Szukaj..."></div></th>
          <th>Drugie imię <div class="search-div"><input class="searchbar" type="text" id="SecondNameInput" onkeyup="findBy(2)" placeholder="Szukaj..."></div></th>
          <th>Nazwisko <div class="search-div"><input  class="searchbar" type="text" id="LastNameInput" onkeyup="findBy(3)" placeholder="Szukaj..."></div></th>
          <th>Pensja <div class="search-div"><input class="searchbar" type="text" id="SalaryInput" onkeyup="findBy(4)" placeholder="Szukaj..."></div></th>
          <th>Premia <div class="search-div"><input class="searchbar" type="text" id="BonusInput" onkeyup="findBy(5)" placeholder="Szukaj..."></div></th>
          <th>Numer <div class="search-div"><input class="searchbar" type="text" id="PhoneInput" onkeyup="findBy(6)" placeholder="Szukaj..."></div></th>
          <th>Email <div class="search-div"><input  class="searchbar" type="text" id="EmailInput" onkeyup="findBy(7)" placeholder="Szukaj..."></div></th>
          <th>Data zatrudnienia <div class="search-div"><input class="searchbar" type="text" id="DateInput" onkeyup="findBy(8)" placeholder="Szukaj..."></div></th>
          <th>Stanowisko<div class="search-div"><input class="searchbar" type="text" id="PositionInput" onkeyup="findBy(9)" placeholder="Szukaj..."></div></th>
          <th>Akcje</th>
        </tr>

        {% for emp in allemployees %}
        <tr class="even">
          <td>{{ emp.employee_id }}</td>
          <td>{{ emp.first_name }}</td>
          <td>{{ emp.middle_name }}</td>
          <td>{{ emp.last_name }}</td>
          <td>{{ emp.salary }}</td>
          <td>{{ emp.ptc_comission }}</td>
          <td>{{ emp.phone_number }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.hire_date }}</td>

          {% for job in prace %} {% if job.job_id == emp.job_id %}
          <td>{{job.job_title}}</td>
          {% endif %} {% endfor %}

          <td>
            <form method="POST" action="wezdane3">
              <input
                type="hidden"
                name="nr_pracownika"
                value="{{emp.employee_id}}"
                class="form-control"
                readonly="readonly"
              />
              <div class="btnWrapper">
                <button class="emplData" type="submit" action="submit">
                  Wyświetl lub edytuj dane!
                </button>
              </div>
            </form>
            <form method="POST" action="usun1">
              <input
                type="hidden"
                name="nr_pracownika"
                value="{{emp.employee_id}}"
                class="form-control"
                readonly="readonly"
              />
              <div class="btnWrapper">
                <button class="emplData" type="submit" action="submit">
                  Usuń pracownika!
                </button>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

<script type="text/javascript">

function find(elementsID, position) {

  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(elementsID);
  filter = input.value.toUpperCase();
  table = document.getElementsByTagName("table")[0];
  table2 = table.getElementsByTagName("tbody")[0];
  tr = table2.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[position];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function findBy(whichInput) {
  if (whichInput == 0) {
    find("IDInput", 0)
  }
  else if (whichInput == 1) {
    find("FirstNameInput", 1)
  }
  else if (whichInput == 2) {
    find("SecondNameInput", 2)
  }
  else if (whichInput == 3) {
    find("LastNameInput", 3)
  }
  else if (whichInput == 4) {
    find("SalaryInput", 4)
  }
  else if (whichInput == 5) {
    find("BonusInput", 5)
  }
  else if (whichInput == 6) {
    find("PhoneInput", 6)
  }
  else if (whichInput == 7) {
    find("EmailInput", 7)
  }
  else if (whichInput == 8) {
    find("DateInput", 8)
  }
  else if (whichInput == 9) {
    find("PositionInput", 9)
  }
  else console.log("Coś nie tak")
}
</script>

  </body>
</html>
