<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/hack.css">
  <link rel="stylesheet" href="/static/dark-grey.css">
  <meta charset="UTF-8">
  <title>It's working!</title>
</head>

<body class="hack dark-grey">

  <div class="container justify-content-center">
    <p></p>
    <p></p>
    <font size="4">Witaj na stronie administratora! :)</font>
    <p></p>
    <font size="3">Wybierz, kim chcesz zarządzać: </font>
    <p></p>

    <div class="grid">
      <div class="cell -1of12"></div>

      <div class="cell -5of12">
        <div class="card">
          <header class="card-header">
            <a class="btn btn-primary" href="/admin1">Uczniowie</a>
          </header>
          <div class="card-content">
            <div class="inner">
              <div class="grid">
                <div class="cell -12of12">
                  <ul>
                    <li>Dodawanie uczniów</li>
                    <li>Edycja danych uczniów</li>
                    <li>Wyszukiwanie uczniów</li>
                    <li>Usuwanie uczniów</li>
                  </ul>
                  <div class="container justify-content-center">
                      <img src="/static/students.png" height="100" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cell -5of12">
        <div class="card">
          <header class="card-header">
            <a class="btn btn-primary" href="/admin2">Pracownicy</a>
          </header>
          <div class="card-content">
            <div class="inner">
              <div class="grid">
                <div class="cell -12of12">
                    <ul>
                        <li>Dodawanie pracowników</li>
                        <li>Edycja danych pracowników</li>
                        <li>Wyszukiwanie pracowników</li>
                        <li>Usuwanie pracowników</li>
                      </ul>
                      <div class="container justify-content-center">
                          <img src="/static/employees.png" height="100"/>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  </div>
</body>

</html>