<!-- <!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/hack.css">
	<link rel="stylesheet" href="/static/dark-grey.css">
	<meta charset="UTF-8">
	<title>Students</title>
</head>

<body class="hack dark-grey">
  <p></p>
  
  <div class="grid">
    <div class="cell -2of12"></div>
    <div class="cell -4of12">
      <p></p>
      <p></p>
      <form class="form justify-content-center" method="POST" action="zalogowanie" name="logowanie">
        <fieldset class="form-group">
          <label for="login">Login:</label>
          <input type="text" name='login' class="form-control" placeholder="Wpisz login">
        </fieldset>
        <fieldset class="form-group">
          <label for="haslo">Hasło:</label>
          <input type="password" name='haslo' class="form-control" placeholder="Wpisz hasło">
        </fieldset>
        <div class="form-actions">
          <button type="submit" action='submit' class="btn btn-primary btn-block">Submit</button>
          <p></p>

        </div>
      </form>

    </div>

    <div class="cell -6of12">
      <img src="/static/penguin.gif" width=400 />
    </div>
  </div>

</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Students</title>
    <link rel="stylesheet" href="/static/style/login/css/style.min.css" />
  </head>

  <body>
    <div class="form">
      <form class="justify-content-center" method="POST" action="zalogowanie" name="logowanie">
        <h2>Login</h2>
        <div class="input">
          <div class="inputBox">
            <label>Nazwa użytkownika</label>
            <input type="text" name="login" placeholder="przyklad@szkola.pl" />
          </div>
          <div class="inputBox">
            <label>Hasło</label>
            <input type="password" name="haslo" placeholder="········" />
          </div>
          <div class="inputBox">
            <input type="submit" action="submit" name="" value="Zaloguj się" />
          </div>
        </div>
      </form>
    </div>

    <div class="img">
      <img src="/static/penguin.gif" />
    </div>
  </body>
</html>
