<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/hack.css">
    <link rel="stylesheet" href="/static/dark-grey.css">
    <meta charset="UTF-8">
    <title>Strona główna szkoły</title>
</head>

<body class="hack dark-grey">

    <div class="grid">
        <div class="cell -2of12"></div>
        <div class="cell -10of12">
            <div class="container justify-content-center">
                <p></p>
                <font size="4">Witaj na stronie szkoły! :)</font>
                <p></p>
                <a class="btn btn-primary" href="/login">Przejdź do logowania</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="cell -2of12"></div>
        <div class="cell -8of12">
            <div class="container justify-content-center">
                <img src="/static/szkola.png" width="800" />
            </div>
        </div>
    </div>

</body>

</html>